* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Media Queries */

@media only screen and (max-width: 750px) {
  .tech-stacks {
    display: flex;
    flex-flow: column wrap;
  }
}

@media only screen and (max-width: 489px) {
  .btn-wrap {
    margin-top: 20px;
  }
}


/* Header/Nav */

nav {
  display: flex;
  justify-content: center;
}

.img-logo {
  height: 200px;
  width: 325px;
}

.short-description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: inherit;
  margin-top: 2%;
  margin-bottom: 4%;
  font-family: 'Nanum Pen Script', cursive;
}

.short-description > p {
  font-size: 36px;
}

/* Professional Links */
.links-wrapper {
  border-top: 3px solid #c2c9d3;
  border-bottom: 3px solid #c2c9d3;
  margin: 0 auto;
  margin-bottom: 2% !important;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 80%;
}

.professional-links {
  display: flex;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.project-buttons {
  display: flex;
  padding: 0;
  margin: 0 auto;
  flex-flow: row wrap;
  margin-bottom: 6% !important;
  justify-content: space-evenly;
}

/* Projects */
.all-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-2, .project-3, .project-4 {
  display: none;
}

.project-name {
  text-align: center;
  font-size: 30px;
  border-bottom: 3px solid #c2c9d3;
  font-family: 'Rammetto One', cursive;
}

.tech-stacks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6%;
  margin-top: 2%;
  text-align: center;
  font-family: 'Alegreya', serif;
}

.tech-stacks-few {
  display: flex column;
  justify-content: center;
  text-align: center;
  margin-bottom: 6%;
  margin-top: 2%;
  font-family: 'Alegreya', serif;
}

.project-links {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 6%;
}

.project-description-wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 3%;
  font-family: 'Alegreya', serif;
}

.project-description {
  width: 80%;
  margin-bottom: 4%;
  margin-top: 4%;
  text-align: center;
}

.project-img {
  height: 20%;
  width: 60%;
  margin-bottom: 8%;
}

.usmc-img-wrapper {
  display: flex;
  justify-content: center;
}

.usmc-img {
  height: 20%;
  width: 20%;
}

.hire-me-wrapper {
  border-top: 3px solid #c2c9d3;
  border-bottom: 3px solid #c2c9d3;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 30%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.hire-me {
  display: flex;
  justify-content: center;
}

/* About Me */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Alegreya', serif;
  text-align: center;
}

.projects-label > p {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  margin-bottom: 2%;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.about-me-label > p {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 4%;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.link-icons {
  height: 32px;
  width: 32px;
  margin: 0 auto;
  transform: translateY(7px);
  margin-right: 5px;
}

/* Button Styling */

.btn-links {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Alegreya', serif;
  color: #ffffff;
  font-size: 28px;
  padding: 4px 8px 8px 8px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn-links:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn {
  background: #2980b9;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: 'Alegreya', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  border: solid #33aaff 2px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #339de3;
  text-decoration: none;
}
