* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header/Nav
=========================================================*/
nav {
  display: flex;
  justify-content: center;
}

.img-logo {
  height: 200px;
  width: 325px;
}

/* .dev-text {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
} */

/* .animated-text-size {
  font-size: 28px !important;
  font-family: 'Rammetto One', cursive;
} */

.short-description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: inherit;
  margin-top: 2%;
  margin-bottom: 4%;
  font-family: 'Nanum Pen Script', cursive;
}

.short-description > p {
  font-size: 36px;
}

/* Professional Links
=========================================================*/
.links-wrapper {
  border-top: 3px solid #c2c9d3;
  border-bottom: 3px solid #c2c9d3;
  margin: 0 auto;
  margin-bottom: 2% !important;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 600px;
}

.professional-links {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 600px;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6% !important;
  margin: 0 auto;
  width: 700px;
}

/* Projects
=========================================================*/
.all-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-2, .project-3, .project-4 {
  display: none;
}

.project-name {
  text-align: center;
  font-size: 30px;
  border-bottom: 3px solid #c2c9d3;
  font-family: 'Rammetto One', cursive;
}

.tech-stacks {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-bottom: 6%;
  margin-top: 2%;
  font-family: 'Alegreya', serif;
}

.tech-stacks-few {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 6%;
  margin-top: 2%;
  font-family: 'Alegreya', serif;
}

.project-links {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 6%;
}

.project-links-no-demo {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 6%;
}

.tech {
  border: 1px solid black;
}

.project-description-wrapper {
  display: flex;
  justify-content: center;
  width: 80%
  margin-bottom: 3%;
  font-family: 'Alegreya', serif;
}

.project-description {
  width: 80%;
  margin-bottom: 4%;
  margin-top: 4%;
  text-align: center;
}

.project-img {
  height: 20%;
  width: 60%;
  border: 1px solid black;
}

.usmc-img-wrapper {
  display: flex;
  justify-content: center;
}

.usmc-img {
  height: 20%;
  width: 20%;
}

.hire-me-wrapper {
  border-top: 3px solid #c2c9d3;
  border-bottom: 3px solid #c2c9d3;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 181px;
  margin-bottom: 2%;
  margin-top: 2%;
}

.hire-me {
  display: flex;
  justify-content: center;
}

/* About Me
=========================================================*/
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Alegreya', serif;
  text-align: center;
}

.projects-label > p {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  margin-bottom: 2%;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

/* .project-label > p {
  display: flex;
  justify-content: center;
  font-family: 'Alegreya', serif;
} */

.about-me-label > p {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 4%;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.link-icons {
  height: 32px;
  width: 32px;
  margin: 0 auto;
}

/* Button Styling */

.btn-links {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Alegreya', serif;
  color: #ffffff;
  font-size: 28px;
  padding: 8px 15px 15px 15px;
  text-decoration: none;
}

.btn-links:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn {
  background: #5484ff;
  background-image: -webkit-linear-gradient(top, #5484ff, #122391);
  background-image: -moz-linear-gradient(top, #5484ff, #122391);
  background-image: -ms-linear-gradient(top, #5484ff, #122391);
  background-image: -o-linear-gradient(top, #5484ff, #122391);
  background-image: linear-gradient(to bottom, #5484ff, #122391);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: 'Alegreya', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #00c4ff 2px;
  text-decoration: none;
}

.btn:hover {
  background: #202ee6;
  background-image: -webkit-linear-gradient(top, #202ee6, #0c99f0);
  background-image: -moz-linear-gradient(top, #202ee6, #0c99f0);
  background-image: -ms-linear-gradient(top, #202ee6, #0c99f0);
  background-image: -o-linear-gradient(top, #202ee6, #0c99f0);
  background-image: linear-gradient(to bottom, #202ee6, #0c99f0);
  text-decoration: none;
}
